# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Expo dependencies
.expo/
.expo-shared/
.expo-go/

# Metro bundler
metro.config.js

# iOS and Android build folders (not needed in managed workflow)
android/
ios/

# Environment variables
.env
.env.local
.env.*.local

# Log files
*.log
*.log.*
debug.log
error.log

# macOS / Windows / Linux system files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Git hooks
.husky/_

# Build artifacts
dist/
build/
web-build/

# Babel and TypeScript cache
babel.config.js
tsconfig.tsbuildinfo

# Jest coverage reports
coverage/

# Package manager lock files 
package-lock.json
pnpm-lock.yaml

expo-env.d.ts

tracking_algorithm
.venv

expo-env.d.ts

nativewind-env.d.ts
